<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据可视化</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4.4.1-dist/css/MyStyle.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap-slider.css' %}">
    <script type="text/javascript" src="{% static 'bootstrap-4.4.1-dist/js/jQuery3.2.1/jQuery-3.4.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-4.4.1-dist/js/bootstrap-slider.js' %}"></script>
    <script type="text/javascript" src="{% static 'echarts-4.4.0/src/echarts.js' %}"></script>
</head>
<body>

</body>
</html>