<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.css' %}">
    <script type="text/javascript" src="{% static 'bootstrap-4.4.1-dist/js/jQuery3.2.1/jQuery-3.4.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.js' %}"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">菜单栏</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="dropdown ml-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="selectEquipment" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                选择串口
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item com">com1</a>
                <a class="dropdown-item com">com2</a>
                <a class="dropdown-item com">com3</a>
                <a class="dropdown-item com">com4</a>
            </div>
        </div>
        <div class="dropdown ml-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="setBoto" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                设置波特率
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item rate">110</a>
                <a class="dropdown-item rate">300</a>
                <a class="dropdown-item rate">600</a>
                <a class="dropdown-item rate">1200</a>
                <a class="dropdown-item rate">2400</a>
                <a class="dropdown-item rate">4800</a>
                <a class="dropdown-item rate">9600</a>
                <a class="dropdown-item rate">14400</a>
                <a class="dropdown-item rate">19200</a>
                <a class="dropdown-item rate">38400</a>
                <a class="dropdown-item rate">56000</a>
                <a class="dropdown-item rate">57600</a>
                <a class="dropdown-item rate">115200</a>
                <a class="dropdown-item rate">128000</a>
                <a class="dropdown-item rate">256000</a>
            </div>
        </div>
        <div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary ml-2" data-toggle="modal" data-target="#exampleModal">
                选择设备
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">选择设备</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="{% url 'deviceManage:index' %}" method="post">
                            {% csrf_token %}
                            <div class="modal-body">
                                {% for d in device %}
                                <div class="checkbox">
                                    <label><input type="checkbox" value="{{d.id}}"
                                                  name="{{ d.name }}">{{d.name}}</label>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="提交">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <form class="form-inline my-2 my-lg-0 ml-5">
            <div class="form-row">
                <fieldset disabled>
                    <button class="btn btn-secondary active my-2 my-sm-0">当前串口</button>
                    <input class="form-control mr-sm-2 col-md-2" type="text" value="{{ eq.equipment_com }}" id="com">
                    <button class="btn btn-secondary active my-2 my-sm-0">当前波特率</button>
                    <input class="form-control mr-sm-2 col-md-2" type="text" value="{{ eq.equipment_rate }}" id="rate">
                </fieldset>
            </div>

        </form>
    </div>
</nav>

<div class="container my-2">
    {% for device in devices %}
    <div class="card float-left ml-3 mr-3 mt-4" style="width: 15rem;">
        <h5 class="card-title my-2 text-center" id="filename">{{device.name}}</h5>
        <hr class="mt-1">
        <form class="device" id="{{device.id}}">
            <fieldset disabled>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label col-form-label-sm ml-2">电压</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control form-control-sm voltage" value="" placeholder="电压">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label ml-2">温度</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control form-control-sm temperature" value="" placeholder="温度">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label col-form-label-sm ml-2">时间</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control form-control-sm time" value="" placeholder="接收数据时间">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label col-form-label-sm ml-2">状态</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control form-control-sm status" value="waitting...">
                    </div>
                </div>
            </fieldset>
        </form>
        <hr class="mb-0 mt-1">
        <div class="card-body p-1 text-center">
            <a href="{% url 'deviceManage:historyData' device.id %}" target="_blank" class="card-link btn">历史数据</a>
            <button class="card-link btn" id="export" value="{{device.id}}">导出数据</button>
        </div>
    </div>

    {% empty %}
    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
            to
            featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    {% endfor %}
</div>

</body>
<script>
    window.setInterval(function () {
        $(function () {
            let $devices = $(".device");
            $devices.each(function () {
                $ids = $(this).attr('id');
                // console.log($ids);
                $.ajax({
                    url: '{% url "deviceManage:datas"  %}',
                    data: {'ids': $ids},
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        if (data.Success) {
                            $('#' + data.deviceId + ' ' + '.time').attr("value", data.dataTime);
                            $('#' + data.deviceId + ' ' + '.voltage').attr("value", data.voltage);
                            $('#' + data.deviceId + ' ' + '.temperature').attr("value", data.temperature);
                            $('#' + data.deviceId + ' ' + '.status').attr("value", data.status);
                        }
                    }
                })

            })
        })
    }, 5000);
    window.setInterval(function () {
        $(function () {
            let $devices = $(".device");
            $devices.each(function () {
                $ids = $(this).attr('id');
                // console.log($ids);
                $.ajax({
                    url: '{% url "deviceManage:start"  %}',
                    data: {'ids': $ids},
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {

                    }
                })

            })
        })
    }, 65000);
    $(function () {
        let $com = $(".com");
        $com.on('click', function () {
            let $value = $(this).text();
            $.ajax({
                url: '{% url "deviceManage:set" %}',
                data: {'com': $value},
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    if (data.Success) {
                        $("#com").empty().attr('value', data.com)
                    }
                    if (data.Error) {
                        alert(data.Error)
                    }

                }
            })
        })
    });
    $(function () {
        let $rate = $(".rate");
        $rate.on('click', function () {
            let $value = $(this).text();
            $.ajax({
                url: '{% url "deviceManage:set" %}',
                data: {'rate': $value},
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    if (data.Success) {
                        $("#rate").empty().attr('value', data.rate)
                    }
                    if (data.Error) {
                        alert(data.Error)
                    }
                }
            })
        })
    });
    $(function () {
        let $button = $("#export");
        $button.on('click', function () {
            let $id = $(this).val();
            let $FileName = $("#filename").text();
            $.ajax({
                url: '{% url "deviceManage:export_excel" %}',
                data: {'id': $id},
                type: 'POST',
                success: function (data) {
                    let $url=data.file;
                    const a = document.createElement('a');
                    a.href='/'+$url;
                    a.style.display = 'none';
                    a.download = $FileName + '.xls';
                    console.log(a);
                    a.click();
                }
            })

        })
    });
</script>
</html>